@import "core-styles/core-styles";

// ***** AlphaButton ***** //
.alpha-btn {
  width: 100%;
  padding: 13px 16px;
  background-color: $clr-alpha;
  &__text {
    font-size: 12px;
    line-height: 2;
    color: $clr-delta;
  }
}
// ***** AlphaButton End ***** //

// ***** AlphaInput ***** //
.alpha-input {
  width: 100%;
  height: 100%;
  display: flex;

  &__input {
    flex: 1;
    border: none;
    outline: none;
    padding: 13px;

    &::placeholder {
      font-size: 12px;
      color: $clr-epsilon;
    }
  }
}
// ***** AlphaInput End ***** //

// ***** Header ***** //
.header {
  padding-top: 45px;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  &__links {
    display: flex;
    align-items: center;
    margin-right: 41px;
  }

  &__link {
    color: #ca3132;
    text-transform: uppercase;
  }
}

.left-link {
  margin-right: 85px;

  span {
    margin-left: 9px;
  }
}

.right-link {
  display: flex;
  align-items: center;

  span {
    margin-left: 4px;
  }
}
// **** Header End **** //

// **** Sidebar **** //
.sidebar {
  position: absolute;
  right: 3.6vw;
  top: 51px;
  z-index: 1;
  height: 49.95vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
// **** Sidebar End **** //

// **** GlobalLink **** //
.underline-link {
  position: relative;
  &:after {
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    content: "";
    background-color: red;
  }
}
.underline-link.right {
  &:after {
    right: 0;
  }
}
.underline-link.left {
  &:after {
    left: 0;
  }
}

.underline-link--small {
  font-size: 13px;
  &:after {
    bottom: -5px;
    height: 1px;
    width: 12px;
  }
}

.underline-link--large {
  font-size: 2.5vw;
  &:after {
    bottom: -15px;
    height: 4px;
    width: 50px;
  }
}
// **** GlobalLink  End **** //

// **** Scroll-down-btn **** //
.scroll-down-btn {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 1px solid $clr-alpha;
  padding: 0 23px;
}

// **** Scroll-down-btn End **** //

// **** Navigation **** //
.navigation {
  min-width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;

  &__links {
    display: flex;
    justify-content: space-between;
    background-color: $clr-delta;
    align-items: center;
    font-size: 0.8125vw;
    width: 100%;
    padding: 9.7% 7.61%;
  }

  &__link {
  }

  &__video-container {
    min-width: 31.4%;
    height: 100%;
  }

  &__video {
    width: 100%;
    height: 100%;
  }
}
// **** Navigation End **** //

// **** Footer **** //
.footer {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;

  &__left {
    display: flex;
    flex: 0.5;
  }

  &__form {
    flex: 1;

    &__input-container {
      width: 100%;
    }

    & > span {
      display: inline-block;
      padding-left: 13px;;
      font-size: 11px;
      line-height: 14px;
      margin-top: 10px;
      color: $clr-zeta;
    }
  }

  &__right {
    flex: 0.4;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 12px;
    line-height: 2;
  }

  &__title {
    max-width: 260px;
    font-size: 1.875vw;
    line-height: 34px;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    margin-right: 5.3125vw;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__copyright {
    display: flex;
    justify-content: space-between;
  }

  &__btn-container {
    position: absolute;
    width: 60px;
    height: 60px;
    transform: translateY(-100%);
    top: -41px;
    right: 47px;
  }
}
// **** Footer End **** //
