@import './core-styles/core-styles';

.first-section {
  position: relative;
  height: calc(100vh - 75px);
  width: 100%;
  display: flex;
  flex-direction: column;

  &__btn {
    width: 60px;
    height: 60px;
    position: absolute;
    bottom: 10.78%;
  }

  &__navigation {
    width: 65.82%;
    height: 205px;
    position: absolute;
    bottom: 0;
    right: -6.28%;
  }
}

.titles-container {
  position: absolute;
  top: 25%;
  display: flex;
}

.main-title {
  font-size: 1.875vw;
  line-height: 1.13;
  text-transform: uppercase;
  flex: 0.3;
}

.line {
  position: relative;
  width: 23.125vw;
  margin: 0 4.185vw;
  flex: 0.3;
  div {
    position: absolute;
    top: 13%;
    width: 100%;
    height: 0;
    border-top: 1px solid black;
    opacity: 0.4;
  }
}

.subtitle {
  font-size: 1vw;
  font-weight: 500;
  flex: 0.3;
}

.second-section {
  width: 100%;
  margin-bottom: 55px;
  &__title-container {
    margin-bottom: 124px;
  }

  &__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.25;
  }

  &__links {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);

    & :nth-child(2),& :nth-child(5) {
      padding-left: 14%;
    }

    & :nth-child(3n) {
      text-align: right;
    }
  }
  &__link {
    white-space: nowrap;
    padding-bottom: 130px;
  }
}

.third-section, .fourth-section {
  margin-bottom: 125px;
  width: 100%;
  height: 625px;
  display: flex;

  &__left {
    display: flex;
    background-color: $clr-delta;
    flex: 0.7
  }

  &__right {
    flex: 0.35
  }

  &__text-block {
    padding: 50px;
    width: 50%;
  }

  &__text {
    p {
      margin: 0;
    }
    font-size: 14px;
    line-height: 1.25;
    width: 62.3%;
  }

  &__title-container {
    margin-bottom: 303px;
    h2 {
      font-weight: 500;
      font-size: 24px;
      line-height: 1.25;
    }
  }

  &__image-container {
    width: 50%;
  }

  &__links {
    padding: 50px 0;
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__link {
    a {
      font-size: 30px;
    }
  }
}

.fourth-section {
  height: 500px;

  &__title-container {
    margin-bottom: 118px;
  }

  &__current-link {
    font-weight: 500;
    font-size: 24px;
    line-height: 1.67;
    a {
      display: inline-block;
      margin-bottom: 28px;
    }
  }

  .date {
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
  }

  &__links {
    padding: 50px 78px;
    align-items: center;
  }

  &__link {
    a {
      display: inline-block;
      font-weight: 500;
      font-size: 16px;
      line-height: 22px;
      margin-bottom: 10px;
    }
  }
}
