@import "components";
@import "normalize.css";
@import "core-styles/core-styles";
@import "index";

html,
body {
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

* {
  box-sizing: border-box;
  color: $clr-beta;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  background: none;
  border: none;
  outline: none;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  position: relative;
  padding: 0 7.25vw 0 4.8vw;
  display: flex;
  flex-direction: column;
}

.main {
  margin-top: 196px;
}

.block {
  width: 100%;
  height: 100%;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
