extends ../layouts/indexBase

block content
    main.main
        section.first-section
            .titles-container
                +TitleWithLine("Диагностика спасающая жизни", "Для нас каждый клинический <br/> случай – это жизнь и судьба реального человека")
            .first-section__btn
                +ScrollDownButton
            .first-section__navigation
                +Navigation(data.navigation.links)
        section.second-section
            .second-section__title-container
                h2.second-section__title Деятельность
            .second-section__links
                each val, key in data.activity.links
                    .second-section__link
                        +UnderlineLink(val, key, "large", "left")

        section.third-section
            +ServicesBlock
        section.fourth-section
            +NewsBlock