mixin TitleWithLine(leftText, rightText)
    .title-with-line
        .title-with-line__left
            h1=leftText
        .title-with-line__line
            div
        .title-with-line__right!=rightText