mixin ScrollUpButton
    button.scroll-up-btn(id="scrollUpBtn")
        svg(preserveAspectRatio="xMidYMin meet" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg")
            path(d="M0 10.1L1.05 11.15L10.05 2.15L19.05 11.15L20.1 10.1L10.05 0L0 10.1Z" fill="white")