mixin ScrollUpButton
    button.scroll-up-btn
        svg(preserveAspectRatio="xMidYMin meet" width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg")
            circle(cx="30" cy="30" r="30" fill="#CA3132")
            path(d="M20 33.1L21.05 34.15L30.05 25.15L39.05 34.15L40.1 33.1L30.05 23L20 33.1Z" fill="white")

